.character-name {
  font-size: 6rem;
}
.title {
  -webkit-text-stroke: 3px yellow;
  color: transparent !important;
}

.basic-info {
  -webkit-text-stroke: 2px white;
  color: transparent !important;
  font-weight: bolder;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
}


